@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome to EcoRater!</h1>
    <p class="lead">Your personalized AI-powered sustainability assessment tool.</p> <!-- Optional subheading -->

    <div class="mt-4">
        <a href="@Url.Action("", "ProjectFirms")" class="btn btn-primary mr-2">View my projects and firms</a>
        <a href="@Url.Action("Create", "ProjectFirms")" class="btn btn-secondary">Create a new project or firm</a>
    </div>
</div>
