@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <br />

    <h2>Introduction</h2>
    <p>Welcome to EcoRater. This privacy policy outlines our practices regarding the collection, use, and sharing of your personal information. By using our website, you agree to the terms of this privacy policy.</p>

    <h2>1. Information We Collect</h2>
    <p>We collect information in the following ways:</p>
    <ul>
        <li><strong>Directly from the User</strong>: Information such as name, email address, and other data you provide when you register or use our platform.</li>
        <li><strong>Usage Data</strong>: Information on how you use our platform, such as pages visited, time spent, and other statistical data.</li>
    </ul>

    <h2>2. How We Use Your Information</h2>
    <p>We may use your information to:</p>
    <ul>
        <li>Provide, maintain, and improve our services.</li>
        <li>Respond to your questions or requests.</li>
    </ul>

    <h2>3. Sharing Your Information</h2>
    <p>We may share your personal information with third parties, except:</p>
    <ul>
        <li>As required by law.</li>
        <li>When we believe disclosure is necessary to protect our rights or to comply with a judicial proceeding, court order, or legal process.</li>
    </ul>

    <h2>4. Cookies</h2>
    <p>We use cookies to improve your experience on our site. You can configure your browser to refuse cookies, but some parts of our site may not function properly as a result.</p>
    

</div>
