@model ProjectFirm

<h2>Sustainability Assessment</h2>
<form method="post" action="@Url.Action("SustainabilityAssessment", new { id = Model.Id })">

    @{
        var questions = Model.QuestionsText.Split(new[] { '\n' }, StringSplitOptions.RemoveEmptyEntries);
        int questionNumber = 0;
    }


    @foreach (var question in questions)
    {
        questionNumber++;

        <label for="answer-@questionNumber">@question</label>
        <textarea id="answer-@questionNumber" name="answers" class="form-control" rows="2"></textarea> <!-- Use textarea for longer responses -->

    }


    <button type="submit" class="btn btn-primary">Submit Answers</button>
</form>
